/CSP.class
/Constraint.class
/Relation.class
/RelationAs.class
/Variable.class
/CSPApplication.class
/Solver.class
/CSPTest.class
/RelationAus.class
/Relation$RelationAus.class
/AusVariable.class
/AusRelation.class
/AusCSP.class
/CSP$AusCSP.class
/JobCSP.class
/JobRelation.class
/PConstraint.class
/PConstraint$DConstraint.class
/DConstraint.class
/PAxleConstraint.class
/JobVariable.class
/P.class
